{{ ##
    Description: Renders the buy together row component, containing 2 product components and a price component
    Params:
        - principal_product: the page product data
        - bt_product: the buy together product data
    Usage:
        buy_list_product_view principal_product: principal_product bt_product: bt_product
## }}

<div class="flex flex-col lg:flex-row justify-evenly w-full mb-10 sm:mb-4 bg-secondary-50">
    <div class="flex flex-col sm:flex-row flex-wrap justify-between sm:justify-evenly items-stretch relative">
        <div product-view-div class="bg-secondary-100 w-full sm:w-auto">
            {{ buy_together_product_view product: principal_product }}
        </div>
        <div class="flex flex-col justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 lg:mx-4 my-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
        </div>
        <div product-view-div class="bg-secondary-100 w-full sm:w-auto">
            {{ buy_together_product_view product: bt_product }}
        </div>
    </div>
    <div class="flex flex-col p-2 justify-center">
        <div class="" id="buy-together-price-{{ bt_product.product_id }}-{{ principal_product.product_id }}"></div>
        <div class="">
            {{ product_buy_button add_to_cart_click: "buyTogetherAddToCartClick(this)" buy_click: "buyTogetherBuyClick(this)" disabled: true}}
        </div>
    </div>
</div>