{{ ##
    Description: Renders the buy together single product view
    Params:
        - product: buy list single product data
    Usage:
        buy_together_product_view product: product
## }}
{{~
    product_id = product.product_id
    product_available = false
    product_variant_id = ""
    product_stock = 0 
~}}
{{~ if product.attribute_selections.selected_variant ~}}
    {{~ product_variant_id = product.attribute_selections.selected_variant.product_variant_id ~}}
    {{~ product_available = product.attribute_selections.selected_variant.available ~}}
    {{~ product_stock = product.attribute_selections.selected_variant.stock ~}}
{{~ else if product.attribute_selections.selections.size == 0 ~}}
    {{~ product_variant_id = product.product_variant_id ~}}
    {{~ product_available = product.available ~}}
    {{~ product_stock = product.stock ~}}
{{~ else ~}}
    {{~ product_variant_id = product.product_variant_id ~}}
{{~ end ~}}

<div class="flex flex-col justify-start sm:min-h-[350px] p-2 shadow-2xl/30">
    <div class="flex w-40 lg:w-60 border p-1 mb-2">
        {{ spot_image product: product }}
    </div>
    <strong>{{ product.product_name }}</strong>
    {{~ attribute_selections = product.attribute_selections ~}}
    {{~ if attribute_selections.can_be_matrix ~}}
        {{~ on_change = "buyTogetherQuantityOnChange(this);" ~}}        
        {{ product_matrix_attribute attribute_selections: attribute_selections on_change: on_change is_secondary_product: true }}
    {{~ else ~}}
        <input product-available type="hidden" name="product-available-{{ product_id }}" value="{{ product_available }}">
        <div attribute-selections>
            {{
                grouped_attribute_selections = attribute_selections.selections | group.by @(do; ret $0.display_type;end)
                combo_attr = grouped_attribute_selections | group.get "Combo"
                div_attr = grouped_attribute_selections | group.get "DIV"
                div_img_attr = grouped_attribute_selections | group.get "DIV com foto do produto variante"
                div_color_attr = grouped_attribute_selections | group.get "DIV com cor"
                product_combo_attribute attribute_selections: combo_attr product_id: product_id on_click: "buyTogetherSelectAttribute" is_secondary_product: true
                product_div_attribute attribute_selections: div_attr product_id: product_id on_click: "buyTogetherSelectAttribute" is_secondary_product: true
                product_div_with_image_attribute attribute_selections: div_img_attr product_id: product_id on_click: "buyTogetherSelectAttribute" is_secondary_product: true
                product_div_with_color_attribute attribute_selections: div_color_attr product_id: product_id on_click: "buyTogetherSelectAttribute" is_secondary_product: true
            }}
        </div>
        <div class="col-3">
            <p>Quantidade</p>
            <input type="number" class="form-control" product-variant-id="{{ product_variant_id }}"
                name="selected-quantity" value="1" min="1" max="{{ product_stock }}" onchange="buyTogetherQuantityOnChange(this)" aria-label="Quantidade">
        </div>
    {{~ end ~}}
    {{~ if product.customizations ~}}
        <div class="max-w-sm">{{~ product_customizations customizations: product.customizations ~}}</div>
    {{~ end ~}}
</div>