{{ ##
    Description: Renders attributes of type "DIV"
    Params:
        - attribute_selections: product attribute selections data
        - product_id: page product ID        
        - is_secondary_product : if this is an attribute of a subproduct, like in a buy list, or in a buytogether component
        - on_click : the name of the function call for the component onClick
    Usage:
        product_combo_attribute attribute_selections: attribute_selections product_id: product_id
## }}
{{~ if attribute_selections.size > 0 ~}}
    {{~ for attr in attribute_selections ~}}
        <div class="row">
            <p>{{ attr.name | string.upcase }}</p>
            <div class="flex justify-start items-start">
                {{~ grouped_selected = attr.values | group.by @(do; ret $0.selected;end) ~}}
                {{~ selected = grouped_selected | group.get true | array.first ~}}
                {{~ if selected ~}}
                    {{~ hidden_id = "hidden-selected-attribute-" + product_id + "-" + attr.attribute_id ~}}
                    <input type="hidden" id="{{ hidden_id }}"
                        name="{{ hidden_id }}" value="{{ selected.value }}">
                {{~ end ~}}
                {{~ if attr.vary_by_parent && is_secondary_product && selected}}
                    <p>{{ selected.value }}</p>
                {{~ else ~}}
                    {{~ for value in attr.values ~}}
                        {{~ option_id = attr.attribute_id + "__" + value.value + "__" + product_id + "__" + math.uuid ~}}
                        <div class="col-xl-4">
                            <input type="radio" class="btn-check hidden"  
                                id="{{ option_id }}" 
                                product-id = "{{ product_id }}"
                                attribute-id = "{{ attr.attribute_id }}"
                                attribute-value = "{{ value.value }}"
                                autocomplete="off" 
                                {{~ if attr.vary_by_parent ~}}
                                    onclick="location = this.value;" value="/{{ value.alias }}"
                                {{~ else ~}}
                                    onclick="{{ on_click }}(this);" value="{{ value.value }}"
                                {{~ end ~}}  
                                {{ if value.selected }} checked {{ end }} 
                                {{ if !value.available }} disabled {{ end }}>
                            <label 
                            class="flex border mt-4 py-1 px-3 mr-2 cursor-pointer {{ if !value.available }} cursor-default {{ end }} {{ if value.selected }} border-black {{ end }}" 
                            for="{{ option_id }}">
                                {{ value.value }}
                            </label>
                        </div>
                    {{~ end ~}}
                {{~ end ~}}
            </div>   
        </div>
    {{~ end ~}}
    <br>
{{~ end ~}}