/* LEIA-ME */

/* login.css >> Definições das páginas de LOGIN do novo Checkout */
/* minhaconta.css >> Definições das páginas de MINHA CONTA do novo Checkout */
/* checkout.css >> Definições das páginas de CARRINHO, FECHAMENTO E CONFIRMAÇÃO do novo Checkout */
/* geral.css >> Definições de Cabeçalho e Rodapé */

/* adicione/edite este arquivo para sobrescrever as definições padrão da loja */

.fbits-box-login .btn.btn-success {
    background-color: #C40EEF;
    border-color: #9407B5;
}

.tyc_border-bottom {
    border-bottom: 1px solid #9407B5;
}