{{ ##
    Description: Renders a banner carousel from a list of banners
    Params:
      - banners: list of banners
      - position: banner position to use
    Usage:
      banners_carousel banners: banners position: "Topo"
## }}
{{~ 
  if banners && position
    banners = banners | array.sort "order"
    grouped_banners = banners | group.by @(do; ret $0.position;end)
    banners = grouped_banners | group.get position
    banners_by_name = banners | group.by @(do; ret $0.banner_name;end)
    banners_names = banners_by_name | object.keys
  end 
~}}
{{~ if banners && banners.size > 0 ~}}
  <div class="swiffy-slider banner-slider slider-nav-dark slider-nav-visible slider-nav-autoplay slider-nav-autopause transition-all duration-500 ease-in-out" data-slider-nav-autoplay-interval="5000">
      <ul class="slider-container">
        {{~ for banner_name in banners_names ~}}
          {{ banner_by_name = banners_by_name | group.get banner_name | array.sort "width" }}
          {{
            current_sources = []
            default_banner = banner_by_name | array.last
            for cb in banner_by_name
                current_media = "(max-width: " + (cb.width + 40) + "px)"
                if for.last
                  default = cb.banner_url
                  default_url_on_click = cb.url_on_click
                  default_open_new_tab = cb.open_new_tab
                end
                current_sources = current_sources | array.add {src:cb.banner_url, w:cb.width, media: current_media}
            end 
          ~}}
          <li class="relative overflow-hidden">
            {{ if default_url_on_click }} 
              <a href="{{ default_url_on_click }}" {{ if default_open_new_tab }} target="_blank" {{ end }} class="block w-full h-full">
            {{ end }}
            <picture class="block w-full h-full">
                {{~ for source in current_sources ~}}
                    <source media="{{source.media}}" srcset="{{source.src}}?w={{source.w}}">   
                {{~ end ~}}
                <img src="{{default}}" alt="banner" 
                  class="object-contain w-full h-full" 
                  {{ if for.first }}fetchpriority="high"{{else}}loading="lazy"{{end}}>
            </picture>
            {{ if default_url_on_click }} 
              </a>
            {{ end }}
          </li>
        {{~ end ~}}
      </ul>
      {{ if banners_names.size >= 2}}
        <button type="button" class="slider-nav" name="prev" aria-label="Anterior">
          <div class="bg-white/80 hover:bg-white text-black p-3 rounded-full shadow-lg transition-transform hover:scale-110 active:scale-95">
             <img src="{{- store.urls.static_img}}icons/arrow-left.svg?theme={{store.theme}}&v={{store.last_modified}}" 
          alt="arrow-left" class="w-6 h-6"/>
          </div>
        </button>
        <button type="button" class="slider-nav slider-nav-next" name="next" aria-label="Próximo">
          <div class="bg-white/80 hover:bg-white text-black p-3 rounded-full shadow-lg transition-transform hover:scale-110 active:scale-95">
            <img src="{{- store.urls.static_img}}icons/arrow-right.svg?theme={{store.theme}}&v={{store.last_modified}}" 
          alt="arrow-right" class="w-6 h-6"/>
          </div>
        </button>

        <div class="slider-indicators">
            {{~ for banner_name in banners_names ~}}
              <button class="{{ if for.first }}active{{ end }}" aria-label="Indicador de slide"></button>
            {{~ end ~}}
        </div>
      {{ end }}
  </div>
{{~ end ~}}