<div class="benefits-slider swiffy-slider slider-item-show4 slider-item-show3-sm slider-item-show1-xs slider-nav-visible slider-nav-autoplay slider-nav-autopause transition-all duration-500 ease-in-out bg-white py-6 border-b border-gray-100" data-slider-nav-autoplay-interval="4000">
    <div class="flex flex-col items-center w-full lg:flex-row lg:justify-center">
        <div class="w-full lg:max-w-[1330px] px-4">
            <ul class="slider-container items-center">
                <li class="flex items-center justify-center">
                    <div class="flex items-center gap-4 px-4 py-2 border-r border-gray-100 last:border-none">
                        <img src="https://recursos.WSParts.com.br/i/icones/delivery-truck-red.svg" alt="Entrega" class="w-10 h-10 object-contain" loading="lazy">
                        <div class="flex flex-col">
                            <span class="text-xs font-bold uppercase text-gray-800 leading-tight">Entrega para</span>
                            <span class="text-xs uppercase text-gray-600 leading-tight">todo o Brasil</span>
                        </div>
                    </div>
                </li>
                <li class="flex items-center justify-center">
                    <div class="flex items-center gap-4 px-4 py-2 border-r border-gray-100 last:border-none">
                        <img src="https://recursos.WSParts.com.br/i/icones/creditcard.svg" alt="Parcelamento" class="w-10 h-10 object-contain" loading="lazy">
                        <div class="flex flex-col">
                            <span class="text-xs font-bold uppercase text-gray-800 leading-tight">Todo o site em até</span>
                            <span class="text-xs uppercase text-gray-600 leading-tight">10x sem juros</span>
                        </div>
                    </div>
                </li>
                <li class="flex items-center justify-center">
                    <div class="flex items-center gap-4 px-4 py-2 border-r border-gray-100 last:border-none">
                        <img src="https://recursos.WSParts.com.br/i/icones/shield-red.svg" alt="Segurança" class="w-10 h-10 object-contain" loading="lazy">
                        <div class="flex flex-col text-left">
                            <span class="text-xs font-bold uppercase text-gray-800 leading-tight">Compra</span>
                            <span class="text-xs uppercase text-gray-600 leading-tight">100% segura</span>
                        </div>
                    </div>
                </li>
                <li class="flex items-center justify-center">
                    <div class="flex items-center gap-4 px-4 py-2 border-r border-gray-100 last:border-none">
                        <img src="https://recursos.WSParts.com.br/i/icones/pricetag.svg" alt="Preços" class="w-10 h-10 object-contain" loading="lazy">
                        <div class="flex flex-col">
                            <span class="text-xs font-bold uppercase text-gray-800 leading-tight">Melhores</span>
                            <span class="text-xs uppercase text-gray-600 leading-tight">Preços</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
