{{~ qs_var = "?" # if the source contains a query string or not ~}}
{{~ if source | string.contains "?" ~}}
    {{~ qs_var = "&" ~}}
{{~ end ~}}
<img srcset="
    {{- for s in sizes -}}
        {{- if !for.last -}}
             {{source}}{{qs_var}}w={{s.w}}&h={{s.h}}&v=no-change {{s.w}}w,
        {{- else -}}
             {{source}}{{qs_var}}w={{s.w}}&h={{s.h}}&v=no-change {{s.w}}w
        {{- end -}}
    {{- end ~}}"
    sizes="
    {{- for s in sizes -}}
        {{- if !for.last -}}
            (max-width: {{s.w}}px) {{s.w}}px,
        {{- else -}}
            {{s.w}}px
        {{- end -}}
    {{- end ~}}"
src="{{source}}" alt="{{alt}}" class="{{class}}" {{ if hidden }} hidden {{end}}>    
