<div class="hidden lg:flex w-full justify-center border-b">
  <div class="flex justify-between w-[1330px] m-2">
      <ul class="inline-flex text-sm">
        <li class="mr-8">Compre pelo WhatsApp: <b>(XX) XXXXX-XXXX</b></li>
        <li>Televendas: <b>(XX) XXXXX-XXXX</b></li>
      </ul>
      <ul class="inline-flex text-sm">
        <li class="mr-20"><a href="#">SAC</a></li>
        <li class="mr-20"><a href="#">Pagamentos</a></li>
        <li class="mr-20"><a href="#">Lojas Físicas</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
  </div>
</div>