<div class="wake-checkout-section wake-checkout-registration" id="data_user">
    <h2 class="wake-checkout-title wake-checkout-registration-title">Infomações da pessoa</h2>
    <form id="accountCreateCloseForm" class="wake-checkout-registration-form" onsubmit="accountCreateCloseSubmit(event);">
        <div class="flex items-center w-full border rounded-[4px] mb-2">
            <label class="wake-checkout-registration-doc-label" id="labelCpf">
                <input type="radio" name="customerType" value="PERSON" class="wake-checkout-registration-radio peer hidden" checked
                    onclick="accountType('cpf')" />
                <span class="wake-checkout-registration-radio-label peer-checked:bg-black peer-checked:text-white rounded-l-md">Pessoa Física</span>
            </label>
            <label class="wake-checkout-registration-doc-label" id="labelCnpj">
                <input type="radio" name="customerType" value="COMPANY" class="wake-checkout-registration-radio peer hidden"
                    onclick="accountType('cnpj')" />
                <span class="wake-checkout-registration-radio-label peer-checked:bg-black peer-checked:text-white rounded-r-md text-center">Pessoa Jurídica</span>
            </label>
        </div>
        <div class="wake-checkout-registration-email-container">
            <label class="wake-checkout-registration-info-label">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Digite seu e-mail"
                class="wake-checkout-registration-info-input" />            
        </div>
        <div class="wake-checkout-registration-info">
            <div class="wake-checkout-registration-info-container cpf">
                <label class="wake-checkout-registration-info-label">Nome completo*</label>
                <input type="text" name="fullName" id="fullName" placeholder="Nome Completo"
                    class="wake-checkout-registration-info-input" onblur="validateRequired(this)" />
                <span id="error-fullName" class="wake-checkout-registration-info-error error mb-2 hidden">Campo obrigatório</span>
            </div>
            <div class="wake-checkout-registration-info-container cnpj hidden">
                <label class="wake-checkout-registration-info-label">Razão social*</label>
                <input type="text" name="corporateName" id="corporateName" placeholder="Razão Social"
                    class="wake-checkout-registration-info-input" />
                <span class="wake-checkout-registration-info-error error mb-2 hidden">Campo obrigatório</span>
            </div>
        </div>
        <div class="wake-checkout-registration-info">
            <div class="flex flex-col w-full relative cpf ">
                <label class="wake-checkout-registration-info-label">CPF*</label>
                <input type="text" name="cpf" id="cpf" placeholder="CPF"
                    class="wake-checkout-registration-info-input" maxlength="14" onkeypress="cpfMask(this)"
                    oninput="handleCPFValidation(this)" onblur="handleCPFValidation(this)" />
                <span id="error-cpf" class="wake-checkout-registration-info-error mb-2 error hidden">CPF inválido</span>
            </div>
            <div class="flex-col w-full relative hidden cnpj">
                <label class="wake-checkout-registration-info-label">CNPJ*</label>
                <input type="text" name="cnpj" id="cnpj" placeholder="CNPJ"
                    class="wake-checkout-registration-info-input" maxlength="18"
                    onkeypress="cnpjMask(this)" onblur="validateRequired(this)" />
                <span class="wake-checkout-registration-info-error mb-2 hidden error">Campo obrigatório</span>
            </div>
        </div>
        <div class="hidden cnpj wake-checkout-registration-row-cnpj">
            <div class="wake-checkout-registration-cnpj-container">
                <label for="stateRegistration" class="wake-checkout-registration-info-label">Inscrição Estadual: *</label>
                <input type="text" name="stateRegistration" id="stateRegistration"
                    class="wake-checkout-registration-info-input" onblur="validateRequired(this)" />
                <span class="wake-checkout-registration-info-error wake-checkout-registration-cnpj-error hidden error" id="stateregistration-error">Preencha com sua I.E ou selecione isento</span>
            </div>
            <div class="wake-checkout-exempted-row">
                <div class="wake-checkout-exempted-container">
                    <input type="checkbox" name="isStateRegistrationExempt" id="exemptStateRegistrationFree"
                        class="wake-checkout-exempted-input" />
                    <label for="exemptStateRegistrationFree" class="wake-checkout-exempted-label">Isento</label>
                </div>
            </div>
        </div>
        <div class="wake-checkout-registration-ddd">
            <div class="wake-checkout-registration-row-ddd">
                <div class="wake-checkout-registration-row-ddd-container w-1/4 mr-4">
                    <label class="wake-checkout-registration-info-label">DDD*</label>
                    <input type="text" name="primaryPhoneAreaCode" id="primaryPhoneAreaCode" maxlength="2" placeholder="DDD"
                        class="wake-checkout-registration-info-input w-full"
                        onblur="validateRequired(this)" />
                    <span class="wake-checkout-registration-info-error mb-2 hidden error text-sm">Campo obrigatório</span>
                </div>
                <div class="wake-checkout-registration-row-ddd-container w-3/4">
                    <label class="wake-checkout-registration-info-label">Telefone*</label>
                    <input type="text" name="primaryPhoneNumber" id="primaryPhoneNumber" maxlength="10"
                        placeholder="Telefone" onkeypress="phoneMask(this)"
                        class="wake-checkout-registration-info-input w-full" onblur="validateRequired(this)" />
                    <span id="error-primaryPhoneNumber" class="wake-checkout-registration-info-error mb-2 hidden error">Campo obrigatório</span>
                </div>
            </div>
        </div>
        {{ if settings.checkout?.birthdate_required == null || settings.checkout?.birthdate_required == true}}
            <div class="wake-checkout-registration-info">
                <div class="flex flex-col w-full relative birthDate cpf">
                    <label class="wake-checkout-registration-info-label">Data Nascimento*</label>
                    <input type="date" name="birthDate" id="birthDate" placeholder="Data Nascimento"
                        class="wake-checkout-registration-info-input" />
                </div>
            </div>
        {{end}}
        <button class="wake-checkout-registration-button text-md">
            <span id="text">IR PARA ENDEREÇO DE ENTREGA</span>
            <span id="loading" class="hidden">{{wake_loading}}</span>            
        </button>
    </form>
</div>