{{ ##
    Description: Renders a dropdown list to select the quantity of 
                 products to be showed on a page based on the 
                 "page_size.options" set in settings.json
    Params: []
    Usage:
        products_per_page
## }}

<div class="hidden lg:flex flex-col lg:flex-row lg:justify-between w-full lg:w-auto lg:items-center mr-4">
    <label for="page_size" class="lg:mr-2 mb-1 text-sm">{{ "Produtos por página" | lang }}:</label>
    <select name="page_size" id="page_size" onChange="setPageSize(this.value);" class="p-1 text-base min-w-[120px]">
        <option value="" selected disabled hidden>{{ "Selecione" | lang }}</option>
        {{~ for option in settings.page_size.options ~}}
            <option value='{{option}}'>{{ option }}</option>
        {{~ end ~}}
    </select>
</div>