{{ ##
    Description: Renders a dropdown list to select the sorting
                 type of the products on the spot list
    Params:
      - page_type: type of page the component will be rendered (can be "search" or "hotsite")
    Usage:
      sort page_type: type
## }}

<div class="flex flex-col lg:flex-row w-full lg:w-auto lg:justify-between lg:items-center">
    <label class="hidden lg:flex lg:mr-2 mb-1 text-sm text-gray-600" for="sort_options">{{ "Ordenação" | lang }}:</label>
    {{ sort_options = {} }}
    {{~ if page_type == "search" ~}}
        {{~ sort_options = settings.sort.search.options ~}}
    {{~ else if page_type == "hotsite" ~}}
        {{~ sort_options = settings.sort.hotsite.options ~}}
    {{~ end ~}}
    <select name="sort_options" id="sort_options" onChange="sortResult(this.value);" class="search-select">
        <option value="" selected disabled hidden>{{ "Selecione" | lang }}</option>
        {{~ for option in sort_options ~}}
            <option value="{{option.setting.key}}:{{option.setting.direction}}">{{option.name}}</option>
        {{~ end ~}}
    </select>
</div>
