{{ ##
    Description: Renders a product spot containing the main image, the product name,
                 list price, price and the button "comprar".
    Params:
      - product: the product that will be displayed
    Usage:
      spot product: product
## }}
<div class="flex flex-col justify-center items-center hover:shadow-xl p-2 mr-2 mb-1 lg:mr-7 lg:last:mr-0 group">
    <div class="flex flex-col relative justify-start items-center lg:w-60 w-full min-h-[530px]">
        {{ spot_image product: product priority: img_priority lazy: img_lazy_load}}
        {{~ if product.similar_products ~}}
            <div class="flex justify-start items-center w-full">
                {{~ for sim_prod in product.similar_products | array.limit 4 ~}}
                    <div class="border">
                        <a href="/{{ sim_prod.alias }}">
                            <img src="{{ sim_prod.image_url }}" alt="{{ sim_prod.name }}" title="{{ sim_prod.name }}" class="w-10 h-10" />
                        </a>
                    </div>
                {{~ end ~}}
            </div>
        {{~ end ~}}
        <div class="flex flex-col justify-between h-full">
            <div class="flex flex-col">
                <a href="/{{product.alias}}">
                    <span class="text-xl my-2 text-[#1E1E1E]">{{ product.product_name }}</span>
                </a>
                {{~
                    promotionsTypes = product.promotions | group.by @(do; ret $0.disclosure_type;end)
                    promotionsSpot = promotionsTypes | group.get "Spot"
                    promotionsNull = promotionsTypes | group.get null
                    promotionsGrouped = promotionsSpot | array.add_range promotionsNull
                    stamps promotions: promotionsGrouped
                    if product.prices
                        product_price prices: product.prices
                        product_discount discount_percentage: product.prices.discount_percentage
                    end 
                }}
            </div>
            {{~ if product.available ~}}
                <div class="flex justify-end">
                    {{~ if product.add_to_cart_from_spot # Add product directly to cart~}}
                        {{ wake_meta_pixel_content product: product variant_id: product.product_variant_id }}
                        <div class="flex justify-between items-center w-full my-3 py-3 lg:group-hover:translate-y-5 
                        lg:translate-y-0 lg:opacity-0 lg:invisible lg:group-hover:opacity-100 lg:group-hover:visible 
                        lg:duration-500 lg:ease-in-out lg:group-hover:transform">
                            {{~ spot_buy_click = "spotBuyButtonClick(" + product.product_variant_id + ");" ~}}
                            {{~ spot_add_to_cart_click = "spotAddToCartButtonClick(" + product.product_variant_id + ");" ~}}
                            {{ product_buy_button add_to_cart_click: spot_add_to_cart_click buy_click: spot_buy_click }}
                        </div>                        
                    {{~ else # Opens up a modal for choosing the variant to be added to the cart~}}
                        <div class="flex flex-col lg:flex-row justify-between items-center w-full my-3 py-3 lg:group-hover:translate-y-5 
                        lg:translate-y-0 lg:opacity-0 lg:invisible lg:group-hover:opacity-100 lg:group-hover:visible 
                        lg:duration-500 lg:ease-in-out lg:group-hover:transform">
                            {{~ if product.product_id > 0 ~}}
                                <button class="flex items-center justify-center text-white bg-primary-500 lg:hover:bg-primary-600 w-full lg:w-2/4 p-2" onclick="showModalSpot('{{product.product_id}}')">
                                    <img src="{{- store.urls.static_img}}icons/plus.svg?theme={{store.theme}}&v={{store.last_modified}}" alt="plus" class="w-6 h-6 mr-2 stroke-white">
                                    Adicionar
                                </button>
                                <button class="flex items-center justify-center text-white bg-gray-1000 lg:bg-secondary-500 lg:hover:bg-gray-1000 w-full lg:w-2/4 p-2" onclick="showModalSpot('{{product.product_id}}')">
                                    <img src="{{- store.urls.static_img}}icons/cart.svg?theme={{store.theme}}&v={{store.last_modified}}" alt="cart" class="w-6 h-6 mr-2">
                                    COMPRAR
                                </button>
                            {{~ else ~}}
                                <button class="flex items-center justify-center text-white bg-gray-1000 lg:bg-secondary-500 lg:hover:bg-gray-1000 w-full p-2">
                                    <a href="/{{product.alias}}" class="flex">
                                        <img src="{{- store.urls.static_img}}icons/cart.svg?theme={{store.theme}}&v={{store.last_modified}}" alt="cart" class="w-6 h-6 mr-2">
                                        COMPRAR
                                    </a>
                                </button>
                            {{~ end ~}}
                        </div>
                    {{~ end ~}}
                    <div class="absolute top-1 right-1">{{ wishlist_button product_id: product.product_id }}</div>
                </div>
            {{~ else ~}}
                {{ if product.product_variant_id != null }}
                    {{ product_back_in_stock product_variant_id: product.product_variant_id message: "Produto esgotado" }}
                {{ end }}
            {{~ end ~}}
        </div>
    </div>
    <div class="modal" id="add-to-cart-modal-{{ product.product_id }}" aria-labelledby="addToCartFromSpot" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl modal-dialog-centered" >
            <div id="add-to-cart-modal-content-{{ product.product_id }}"></div>
        </div>
    </div>
</div>
