{{ ##
    Description: Renders promotion stamps available for the product. 
    Params:
      - product: the product
    Usage:
      stamps promotions: product.promotions
## }}

{{~ if promotions ~}}
    <div class="stamps d-flex row">
        {{~ for promotion in promotions ~}}
            {{~ if promotion.full_stamp_url ~}}        
                <img class="stamp-image" alt="promotion-stamp" src="{{promotion.full_stamp_url}}" style="max-width: 80px" />
            {{~ end ~}}
        {{~ end ~}}
    </div>
{{~ end ~}}
