{{ ##
    Description: Renders user component
    Params:
        - checkout_url: store checkout URL
    Usage:
        user_login checkout_url: url
## }}
<div class="flex">
    <div id="login" class="w-full">
        {{~ login_url = checkout_url + "Login/Authenticate?returnUrl=" ~}}
        <input type="hidden" id="login-url" value="{{ login_url }}">
        <a class="user-href" href="{{ login_url }}">
            <span class="max-lg:hidden text-sm" id="user-action">ENTRE / CADASTRE-SE</span>
            <div class="lg:hidden dropdown-option bg-secondary-100 flex justify-center mb-2">ENTRE / CADASTRE-SE</div>
        </a>
    </div>
    <div id="logged-user" class="hidden flex-col justify-start group relative w-full">
        <span class="flex justify-start items-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
            Bem-vindo(a),<span id="user-name" class="ml-1"></span>
        </span>
        <div class="lg:hidden group-hover:flex flex-col lg:absolute lg:top-6 bg-mainBg lg:shadow-2xl w-full lg:min-w-[200px] z-50">
            <ul class="w-full">
                <li><a class="dropdown-option" href="{{checkout_url}}MinhaConta/Dados">Minha conta</a></li>
                <li class="border-t border-b"><a class="dropdown-option" href="{{checkout_url}}MinhaConta/Pedido">Meus pedidos</a></li>
                <li class="lg:hidden mb-3 flex justify-start items-center">{{ wishlist_menu }}</li>
                <li><a class="dropdown-option lg:bg-white w-full bg-secondary-100 flex lg:justify-start justify-center items-center" id="user-logout" href="{{ login_url }}">Sair</a></li>
            </ul>
        </div>
    </div>    
</div>
