{{~
    grouped_informations = product.informations | group.by @(do; ret $0.title;end)
    description_information = grouped_informations | group.get "Descrição"
    description = description_information | array.first

    images = []
    for image in product.images
        if image.url
            images = images | array.add image.url
        end
    end

    structured_data = {}
    structured_data["@context"] = "https://schema.org/"
    structured_data["@type"] = "Product"
    structured_data.name = product.product_name
    structured_data.image = images
    structured_data.sku = product.sku
    structured_data.url = current_url

    if description
        structured_data.description = description.value
    end

    if product.ean
        ean_size = product.ean | string.size
        if ean_size == 8
            structured_data.gtin8 = product.ean
        else if ean_size == 12
            structured_data.gtin12 = product.ean
        else if ean_size == 13
            structured_data.gtin13 = product.ean
        else if ean_size == 14
            structured_data.gtin14 = product.ean
        else
            structured_data.gtin = product.ean
        end
    end

    if product.product_brand
        brand = {}
        brand["@type"] = "Brand"
        brand.name = product.product_brand.name
        structured_data.brand = brand
    end

    if product.reviews.size > 0
        sort_rating = product.reviews | array.sort "rating" | array.map "rating"
        best_rating = sort_rating | array.last
        worst_rating = sort_rating | array.first
        reviews = []

        for review in product.reviews
            review_rating = {}
            review_rating["@type"] = "Rating"
            review_rating.bestRating = best_rating
            review_rating.ratingValue = review.rating
            review_rating.worstRating = worst_rating

            review_item = {}
            review_item["@type"] = "Review"
            review_item.author = review.customer
            review_item.datePublished = review.review_date
            review_item.reviewBody = review.review
            review_item.reviewRating = review_rating
            reviews = reviews | array.add review_item
        end

        aggregate_rating = {}
        aggregate_rating["@type"] = "AggregateRating"
        aggregate_rating.ratingValue = product.average_rating
        aggregate_rating.reviewCount = product.reviews.size
        structured_data.aggregateRating = aggregate_rating
        structured_data.review = reviews
    end

    offers = {}
    offers["@type"] = "Offer"
    offers.url = current_url
    offers.priceCurrency = "BRL"
    if product.prices
        offers.price = product.prices.price
    end
    offers.availability = product.stock > 0 ? "https://schema.org/InStock" : "https://schema.org/OutOfStock"
    offers.itemCondition = "https://schema.org/NewCondition"
    structured_data.offers = offers
~}}
<script type="application/ld+json">
    {{ structured_data | map.to_json }}
</script>
