<div class="flex flex-col">
    <div class="">
        {{~ firstImage = images | array.first ~}}    
        {{ if firstImage }}
            <img src="{{ firstImage.url }}" alt="Product main image - {{math.uuid}}" class="img-fluid w-full" id="firstImage">
        {{ end }}
    </div>    
    <div class="flex flex-wrap justify-start items-center my-2">
        {{ for image in images }}
            <img src="{{ image.url }}" class="w-20 h-20 lg:w-28 lg:h-28 object-cover object-center border bg-secondary-300 m-1 cursor-pointer" 
            alt="image_{{ math.uuid }}" onclick="changeFirstImage('{{image.url}}')">
        {{ end }}
    </div>   
</div>