<div class="flex flex-col lg:flex-row gap-4 justify-between items-center w-full">
    <button add-to-cart-button type="button" 
        class="flex-1 flex items-center justify-center w-full py-3 px-6 rounded-lg 
            font-semibold tracking-wide transition-all shadow-sm active:scale-95
            text-primary-500 bg-white border border-primary-500 hover:bg-primary-50" 
            value="{{ btn_value }}" {{ if disabled }} disabled {{ end }} onclick="{{ add_to_cart_click }}">
        <img src="{{- store.urls.static_img}}icons/plus.svg?theme={{store.theme}}&v={{store.last_modified}}" alt="Add to cart" class="w-5 h-5 mr-2 stroke-primary-500 text-primary-500" style="filter: brightness(0) saturate(100%) invert(32%) sepia(99%) saturate(1637%) hue-rotate(345deg) brightness(85%) contrast(100%);">
        Adicionar
    </button>
    <button buy-button type="button" 
        class="flex-1 flex items-center justify-center w-full py-3 px-6 rounded-lg
            font-bold tracking-wide transition-all shadow-md hover:shadow-lg active:scale-95
            text-white bg-primary-500 hover:bg-primary-600" 
            value="{{ btn_value }}" {{ if disabled }} disabled {{ end }} onclick="{{ buy_click }}">
        <img src="{{- store.urls.static_img}}icons/cart.svg?theme={{store.theme}}&v={{store.last_modified}}" alt="Buy button" class="w-5 h-5 mr-2" style="filter: brightness(0) invert(1);">
        COMPRAR
    </button>
</div>