<div class="flex flex-col lg:flex-row justify-between items-center w-full">
    <button add-to-cart-button type="button" 
        class="flex items-center justify-center w-full lg:w-2/4 p-2 
            text-white bg-primary-500 lg:hover:bg-primary-600" 
            value="{{ btn_value }}" {{ if disabled }} disabled {{ end }} onclick="{{ add_to_cart_click }}">
        <img src="{{- store.urls.static_img}}icons/plus.svg?theme={{store.theme}}&v={{store.last_modified}}" alt="Add to cart" class="w-6 h-6 mr-2 stroke-white">
        Adicionar
    </button>
    <button buy-button type="button" 
        class="flex items-center justify-center w-full lg:w-2/4 p-2
            text-white bg-gray-1000 lg:bg-secondary-500 lg:hover:bg-gray-1000" 
            value="{{ btn_value }}" {{ if disabled }} disabled {{ end }} onclick="{{ buy_click }}">
        <img src="{{- store.urls.static_img}}icons/cart.svg?theme={{store.theme}}&v={{store.last_modified}}" alt="Buy button" class="w-6 h-6 mr-2">
        COMPRAR
    </button>
</div>