{{~ if customizations && customizations.size > 0 ~}}
    <div class="flex flex-col items-center border p-4 bg-secondary-50 mt-4 mb-4">
        <h2 class="text-xl mb-4">Personalize seu produto</h2>
        <div class='flex flex-wrap justify-center lg:justify-between items-center'>
            {{ for customization in customizations }}
                <div class="w-full lg:w-auto m-2">
                    <p class="mb-2">{{customization.name}} - ({{ customization.cost | math.format "c" "pt-BR" }})</p>
                    {{~ case customization.type ~}}
                        {{~ when "Valores Predefinidos" ~}}
                            <select id="customization-{{ customization.customization_id }}" class="w-full lg:w-auto bg-mainBg border border-secondary-100" 
                            customization-id="{{~ customization.customization_id ~}}">
                                <option selected value=''>Selecione uma opção</option>
                                {{~ for value in customization.values ~}}
                                    <option value="{{value}}">{{value}}</option>
                                {{~ end ~}}
                            </select>
                        {{~ when "Texto Livre" ~}}
                            <input id="customization-{{~ customization.customization_id ~}}" class="w-full lg:w-auto p-2 bg-mainBg border border-secondary-100"
                            placeholder="Insira uma customização." customization-id="{{~ customization.customization_id ~}}"
                            maxlength="{{ customization.max_length }}">
                        {{~ when "Número" ~}}
                            <input id="customization-{{~ customization.customization_id ~}}" class="w-full lg:w-auto p-2 bg-mainBg border border-secondary-100" 
                            placeholder="Insira uma customização." type="number" customization-id="{{~ customization.customization_id ~}}">
                    {{~ end ~}}
                </div>
            {{ end }}
        </div>
    </div>
{{~ end ~}}