<div class="flex flex-col">
    <p class="flex w-full justify-center text-center">{{ message }}</p>
    <form id="form-avise-me" onsubmit="backInStockOnClick('{{ product_variant_id }}', event)" class="flex-wrap flex flex-col lg:flex-row justify-between">
        <input id="bis-name-{{ product_variant_id }}" class="w-full flex" type="text" placeholder='{{ "Nome" | lang }}' required>
        <input id="bis-email-{{ product_variant_id }}" class="w-full flex" type="email" placeholder='{{ "E-mail" | lang }}' required>
        <div class="flex w-full justify-center">
            <button type="submit" class="lg:w-60 w-full justify-center flex text-base p-2 mt-1 bg-secondary-400 hover:bg-secondary-700 text-white">AVISE-ME</button>
        </div>
    </form>
</div>