{{
    func select_installments(plans) #Function used to filter installment_plans
        contains = false
        if displayed_installment && (plans.display_name | string.downcase | string.contains (displayed_installment | string.downcase))
            contains = true
        end
        ret contains
    end
}}

{{~ if installment_plans ~}}
    <div class="row filtered-installment" style="font-size: 12px; color: secondary;">
        {{~ if displayed_installment && displayed_installment.size > 0 ~}}
            {{~ 
                filtered_installment_plan = installment_plans | array.filter @select_installments | array.first
                installment = filtered_installment_plan.installments | array.last 
            ~}}

            {{~ if filtered_installment_plan.display_name | string.contains "Boleto" ~}}
                <p>{{installment.value | math.format "c" "pt-BR"}} no boleto</p>
            {{~ else if filtered_installment_plan.display_name | string.contains "Cartão" ~}}
                <p>ou em {{installment.number}}x de {{installment.value | math.format "c" "pt-BR"}} {{if installment.fees}}com juros{{else}}sem juros{{end}} no cartão</p>
            {{~ else if filtered_installment_plan.display_name | string.contains "Pix" ~}}
                <p>{{installment.value | math.format "c" "pt-BR"}} no PIX</p>
            {{~ end ~}}
        {{~ else ~}}
            <p>ou em {{installment.number}}x de {{installment.value | math.format "c" "pt-BR"}} {{if installment.fees}}com juros{{else}}sem juros{{end}}</p>
        {{~ end ~}}
    </div>
{{~ end ~}}