<div class="">        
    {{~ if best_installment.display_name | string.contains "Boleto" ~}}
        <p>{{ best_installment.value | math.format "c" "pt-BR" }} no boleto</p>
    {{~ else if best_installment.display_name | string.contains "Cartão" ~}}
        <p>ou <b>em {{ best_installment.number }}x de {{ best_installment.value | math.format "c" "pt-BR" }} {{ if best_installment.fees }}com juros{{ else }}sem juros{{ end }} no cartão</b></p>
    {{~ else if best_installment.display_name | string.contains "Pix" ~}}
        <p>{{ best_installment.value | math.format "c" "pt-BR" }} no PIX</p>
    {{~ else ~}}
        <p>ou <b>em {{ best_installment.number }}x de {{ best_installment.value | math.format "c" "pt-BR" }} {{ if best_installment.fees }}com juros{{ else }}sem juros{{ end }}</b></p>
    {{~ end ~}}
</div>